<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Clientes</title>
    </h:head>
    <h:body>
        <p:panel header="Clientes" closable="false" toggleable="false">
            <h:panelGrid>
                <h:form>
                    <p:dataTable value="#{frmClientes.modeloCliente}"
                                 var="cliente"
                                 rows="20"
                                 paginator="true"
                                 lazy="true"
                                 selectionMode="single"
                                 selection="#{frmClientes.registro}"
                                 >
                        <p:column headerText="Pais">
                            <p:outputLabel value="#{cliente.pais.idPais}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="Pasaporte">
                            <p:outputLabel value="#{cliente.clientePK.pasaporte}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="Nombre">
                            <p:outputLabel value="#{cliente.nombrePasaporte} #{cliente.apellidos}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="Tipo de Cliente">
                            <p:outputLabel value="#{cliente.idTipoCliente.nombre}"></p:outputLabel>
                        </p:column>
                        <p:ajax update=":tView:frmDetalle" event="rowSelect" listener="${frmClientes.mostrarDetalles}"></p:ajax>
                    </p:dataTable>
                    <h:messages showDetail="true"></h:messages>
                </h:form>
                <p:tabView id="tView" activeIndex="0">
                    <p:tab id="tabFrmCliente" title="Formulario Cliente">
                        <h:form id="frmDetalle">
                            <h:panelGrid columns="2" rendered="#{frmClientes.renderDetalles}">
                                <h:outputLabel value="Pasaporte" for="txtPasaporte" id="lblPasaporte"></h:outputLabel>
                                <h:inputText id="txtPasaporte"  value="#{frmClientes.registro.nombrePasaporte}"></h:inputText>
                                <h:outputLabel value="Nombres" for="txtNombreCliente" id="lblNombresCliente"></h:outputLabel>
                                <h:inputText id="txtNombreCliente"  value="#{frmClientes.registro.nombres}"></h:inputText>
                                <h:outputLabel value="Apellidos" for="txtApellidosCliente" id="lblApellidosCliente"></h:outputLabel>
                                <h:inputText id="txtApellidosCliente"  value="#{frmClientes.registro.apellidos}"></h:inputText>
                                <h:outputLabel value="Nombre Pasaporte" for="txtNombrePasaporte" id="lblNombrePasaporte"></h:outputLabel>
                                <h:inputText id="txtNombrePasaporte"  value="#{frmClientes.registro.nombrePasaporte}"></h:inputText>
                                <h:outputLabel value="Tipo Cliente" id="lblTipoCliente">
                                    <p:selectOneListbox value="#{frmClientes.tipoClienteSeleccionado}">
                                        <f:selectItems value="#{frmClientes.listaTipoCliente}"
                                                       var="tipoCliente"
                                                       itemLabel="#{tipoCliente.nombre}"
                                                       itemValue="#{tipoCliente.idTipoCliente}">
                                        </f:selectItems>
                                    </p:selectOneListbox>
                                </h:outputLabel>
                                <h:outputLabel value="Pais" id="lblPais">
                                    <p:selectOneListbox value="#{frmClientes.paisSeleccionado}">
                                        <f:selectItems value="#{frmClientes.listaPaises}"
                                                       var="pais"
                                                       itemLabel="#{pais.nombre}"
                                                       itemValue="#{pais.idPais}">
                                        </f:selectItems>
                                    </p:selectOneListbox>
                                </h:outputLabel>
                            </h:panelGrid>
                            <h:panelGrid columns="2">
                                <h:commandButton value="Nuevo" actionListener="#{frmClientes.btnNuevoAction}" rendered="#{frmClientes.nuevo}"></h:commandButton>
                                <h:commandButton value="Modificar" actionListener="#{frmClientes.btnModificarAction}" rendered="#{frmClientes.editar}"></h:commandButton>
                                <h:commandButton value="Guardar" actionListener="#{frmClientes.btnCrearAction}" rendered="#{frmClientes.crear}"></h:commandButton>
                                <h:commandButton value="Eliminar" actionListener="#{frmClientes.btnEliminarAction}" rendered="#{frmClientes.editar}"></h:commandButton>
                                <h:commandButton value="Cancelar" actionListener="#{frmClientes.btnCancelarAction}" rendered="#{frmClientes.cancelar}"></h:commandButton>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>
                </p:tabView>                
            </h:panelGrid>
        </p:panel>
    </h:body>
</html>
