<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>Paises</title>
    </h:head>
    <h:body>
        <p:panel header="Paises" closable="false" toggleable="false">
            <h:panelGrid>
                <h:form>
                    <p:dataTable value="#{frmPais.modelo}"
                                 var="pais"
                                 rows="20"
                                 paginator="true"
                                 lazy="true"
                                 selectionMode="single"
                                 selection="#{frmPais.registro}"
                                 >
                        <p:column headerText="ID">
                            <p:outputLabel value="#{pais.idPais}"></p:outputLabel>
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{pais.nombre}">
                            <p:outputLabel value="#{pais.nombre}"></p:outputLabel>
                        </p:column>
                        <p:ajax update=":tView:frmDetalle :tView:frmClientes:tableClientes" event="rowSelect" listener="${frmPais.cambioTabla}"></p:ajax>
                    </p:dataTable>
                    <h:messages showDetail="true"></h:messages>
                </h:form>
                <p:tabView id="tView" activeIndex="0">
                    <p:tab id="tabFrmPais" title="Formulario Pais">
                        <h:form id="frmDetalle">
                            <h:panelGrid columns="2">
                                <h:outputLabel value="ID" for="txtIdPais" id="lblIdPais"></h:outputLabel>
                                <h:inputText id="txtIdPais"  value="#{frmPais.registro.idPais}"></h:inputText>
                                <h:outputLabel value="Nombre" for="txtNombrePais" id="lblNombrePais"></h:outputLabel>
                                <h:inputText id="txtNombrePais"  value="#{frmPais.registro.nombre}"></h:inputText>
                                <h:commandButton value="Nuevo" actionListener="#{frmPais.btnNuevoAction}"></h:commandButton>
                                <h:commandButton value="Modificar" actionListener="#{frmPais.btnModificarAction}"></h:commandButton>
                                <h:commandButton value="Guardar" actionListener="#{frmPais.btnGuardarAction}" rendered="${frmPais.agregar}"></h:commandButton>
                                <h:commandButton value="Eliminar" actionListener="#{frmPais.btnEliminarAction}" rendered="${frmPais.editar}"></h:commandButton>
                            </h:panelGrid>
                        </h:form>
                    </p:tab>
                    <p:tab title="Clientes">
                        <h:form id="frmClientes">
                            <p:dataTable id="tableClientes"
                                         value="#{frmPais.modeloCliente}"
                                         var="cliente"
                                         rows="20"
                                         paginator="true"
                                         lazy="true"
                                         >
                                <p:column headerText="Pasaporte">
                                    <p:outputLabel value="#{cliente.clientePK.pasaporte}"></p:outputLabel>
                                </p:column>
                                <p:column headerText="Cliente">
                                    <p:outputLabel value="#{cliente.nombres}"></p:outputLabel>
                                </p:column>
                            </p:dataTable>
                            <h:messages showDetail="true"></h:messages>
                        </h:form>
                    </p:tab>
                </p:tabView>                
            </h:panelGrid>
        </p:panel>
    </h:body>
</html>
